{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    "react-hooks"
  ],
  "extends": [
    "react-app"
  ],
  "rules": {
    "curly": "error",
    "brace-style": "error",
    "no-debugger": "error",
    "no-useless-return": "error",
    "block-scoped-var": "error",
    "default-case": "error",
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-floating-decimal": "error",
    "no-loop-func": "error",
    "prefer-template": "error",
    "spaced-comment": "error",
    "space-before-blocks": [
      "error",
      "always"
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 1000,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "space-infix-ops": "error",
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict",
        "align": "colon"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true,
        "allowUnboundThis": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-var": "error",
    "no-console": [
      "warn",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "no-alert": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "no-extra-semi": "error",
    "no-multi-spaces": [
      "error"
    ],
    "no-unmodified-loop-condition": "error",
    "no-useless-concat": "error",
    "prefer-spread": "error",
    "complexity": [
      "error",
      100
    ],
    "object-shorthand": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "eol-last": "error",
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "prefer-const": "error",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/jsx-sort-props": [
      2,
      {
        "callbacksLast": true,
        "shorthandFirst": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "react/jsx-fragments": [
      2,
      "syntax"
    ],
    "react/jsx-first-prop-new-line": [
      "error",
      "multiline"
    ],
    "react/jsx-max-props-per-line": "error",
    "react/jsx-closing-bracket-location": [
      "error",
      "after-props"
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    "react/no-unknown-property": 2
  }
}